<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tour.app.model.mapper.CommentsMapper">

    <insert id="add" useGeneratedKeys="true" keyColumn="coid" keyProperty="coid">

        INSERT INTO t_comments ( coid, cid, created, author, author_id,mail, content, state )
        VALUES
        (NULL,#{cid},NOW(),#{author},#{authorId} ,#{mail},#{content},0)

    </insert>
    <select id="selectByCid" resultType="com.tour.app.model.entity.Comments">

         SELECT c.cid,c.content,c.created, u.username,u.logged,u.email FROM t_comments c,t_users u WHERE author_id = uid AND c.state=1 AND cid=#{id}
    </select>

    <update id="updateById">
        UPDATE t_comments SET state=#{state} WHERE coid=#{coid}
    </update>

    <select id="all" resultType="com.tour.app.model.entity.Comments">
        SELECT * FROM t_comments
    </select>

    <update id="updateComments">
        UPDATE t_comments SET author=#{author},mail=#{mail},content=#{content},state=#{state} WHERE coid=#{coid}
    </update>
    <delete id="del">

        DELETE FROM t_comments WHERE coid=#{coid}
    </delete>
    <select id="allByUser" resultType="com.tour.app.model.entity.Comments">
         SELECT * FROM t_comments WHERE author_id=#{uid}
    </select>
</mapper>