<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shgoods.goods.mapper.ShUserRoleMapper">

    <resultMap id="AllUserRole" type="com.shgoods.goods.pojo.ShUserRole">
        <id property="urId" column="urId"/>
        <result property="urState" column="urState"/>
        <result property="urCreationTime" column="urCreationTime"/>
        <result property="urUpdateTime" column="urUpdateTime"/>

        <association property="urUid" javaType="com.shgoods.goods.pojo.ShUser">
            <id property="userId" column="userId"/>
            <result property="userName" column="userName"/>
            <result property="userNum" column="userNum"/>
            <result property="userState" column="userState"/>
        </association>

        <association property="urRid" javaType="com.shgoods.goods.pojo.ShRole">
            <id property="roleId" column="roleId"/>
            <result property="roleNum" column="roleNum"/>
            <result property="roleName" column="roleName"/>
            <result property="roleState" column="roleState"/>
        </association>

    </resultMap>


    <resultMap id="findAllRole" type="com.shgoods.goods.pojo.ShUser">
        <id property="userId" column="userId"/>
        <result property="userNum" column="userNum"/>
        <result property="userName" column="userName"/>
        <result property="userState" column="userState"/>
        <collection property="shRoles" ofType="com.shgoods.goods.pojo.ShRole">
            <id property="roleId" column="roleId"/>
            <result property="roleNum" column="roleNum"/>
            <result property="roleName" column="roleName"/>
            <result property="roleState" column="roleState"/>
        </collection>
    </resultMap>


    <select id="findAllRole" resultMap="findAllRole">
          SELECT
                u.user_id userId,
                u.user_name userName,
                u.user_num userNum,
                u.user_state userState,
                r.role_id roleId,
                r.role_num roleNum,
                r.role_name roleName,
                r.role_state roleState,
                ur.ur_id urId,
                ur.ur_state urState,
                ur.ur_creationTime urCreationTime,
                ur.ur_updateTime urUpdateTime
            FROM
                sh_role r,
                sh_user u,
                sh_user_role ur
            WHERE
                r.role_id = ur.ur_rid
                AND u.user_id = ur.ur_uid
                AND u.user_num= #{userNum}
                AND r.role_state=1
    </select>


    <select id="findAllRoleByShUser" resultMap="AllUserRole">
          SELECT
                u.user_id userId,
                u.user_name userName,
                u.user_num userNum,
                u.user_state userState,
                r.role_id roleId,
                r.role_num roleNum,
                r.role_name roleName,
                r.role_state roleState,
                ur.ur_id urId,
                ur.ur_state urState,
                ur.ur_creationTime urCreationTime,
                ur.ur_updateTime urUpdateTime
            FROM
                sh_role r,
                sh_user u,
                sh_user_role ur
            WHERE
                r.role_id = ur.ur_rid
                AND u.user_id = ur.ur_uid
                AND u.user_num= #{userNum}
                AND r.role_state!=-1
    </select>

    <select id="findAllUSerRole" resultMap="AllUserRole">

        SELECT
            u.user_id userId,
            u.user_name userName,
            u.user_num userNum,
            u.user_state userState,
            r.role_id roleId,
            r.role_num roleNum,
            r.role_name roleName,
            r.role_state roleState,
            ur.ur_id urId,
            ur.ur_state urState,
            ur.ur_creationTime urCreationTime,
	        ur.ur_updateTime	urUpdateTime
        FROM
            sh_role r,
            sh_user u,
            sh_user_role ur
        WHERE
            r.role_id = ur.ur_rid
            AND u.user_id = ur.ur_uid
            AND r.role_state!=-1
        ORDER BY u.user_num

    </select>

    <resultMap id="UserNoRole" type="com.shgoods.goods.pojo.ShRole">
        <id property="roleId" column="role_id"/>
        <result property="roleDes" column="role_des"/>
        <result property="roleNum" column="role_num"/>
        <result property="roleName" column="role_name"/>
        <result property="roleUpdateTime" column="role_updateTime"/>
        <result property="roleCreationTime" column="role_creationTime"/>
        <result property="roleState" column="role_state"/>
    </resultMap>
    <select id="findNoRoleByShUser" resultMap="UserNoRole">

        SELECT
            role_id,
            role_num,
            role_name,
            role_des,
            role_updateTime,
            role_creationTime,
            role_state
        FROM
            sh_role r
        WHERE
            r.role_id NOT IN ( SELECT ur.ur_rid FROM sh_user u, sh_user_role ur WHERE u.user_id = ur.ur_uid AND  u.user_num=#{userNum}

	  )
	  AND r.role_state!=-1
    </select>

    <select id="isUserHasRole" resultMap="AllUserRole">
        SELECT
            u.user_id userId,
            u.user_name userName,
            u.user_num userNum,
            u.user_state userState,
            r.role_id roleId,
            r.role_num roleNum,
            r.role_name roleName,
            r.role_state roleState,
            ur.ur_id urId,
            ur.ur_state urState,
            ur.ur_creationTime urCreationTime,
	        ur.ur_updateTime	urUpdateTime
        FROM
            sh_role r,
            sh_user u,
            sh_user_role ur
        WHERE
            r.role_id = ur.ur_rid
            AND u.user_id = ur.ur_uid
            AND u.user_id=#{urUid.userId}
            AND ur.ur_rid=#{urRid.roleId}
    </select>

    <update id="forbidUserRole">
        UPDATE sh_user_role
        SET ur_state = #{urState},ur_updateTime=NOW()
        WHERE
            ur_id=#{urId}
    </update>

    <update id="updateUserRole">

        UPDATE sh_user_role
        SET ur_state = #{urState},ur_state=#{urState},ur_updateTime=#{urUpdateTime}
            ur_rid=#{urRid.roleId} ur_uid=#{urUid.userId}
        WHERE
            ur_id=#{urId}
    </update>

    <insert id="insertUserRole">

        INSERT INTO sh_user_role ( ur_id, ur_rid, ur_uid, ur_state, ur_updateTime, ur_creationTime )
        VALUES
        ( UUID_SHORT(),#{urRid.roleId},#{urUid.userId},1,NOW(),NOW())

    </insert>

    <update id="updateState">
        UPDATE sh_user_role
        SET
            ur_state = #{urState},ur_updateTime=NOW()
        WHERE
            ur_id=#{urId}
    </update>

</mapper>